{% extends "base.html" %}
{% block title %}Detalles{% endblock %}
{% block content %}
    <div id="wrapper">
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					{% for noticia in datos %}
					<h1>{{noticia.nombre}}</h1>
					<p>{{noticia.autor}}</p>
					<p>Fecha de publicación: {{noticia.fecha}}</p>
					<p>{{noticia.deck}}</p><br>
					<p>{{noticia.body}}</p><br>
					<p>{{noticia.lede}}</p>
					<p>Categorías:</p>
					<ul>
					{% for a in noticia.generos %}
						<li><a href="/noticias/{{a.name}}">{{a.name}}</a></li>
					{% endfor %}
					</ul>
					<a href={{noticia.url}}>Noticia Original</a>					
					{% endfor %}
				</div>
			</section>			
	</div>
{% endblock %}