{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div id="wrapper">
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<h1>Gamespot</h1>
					<h2>Juegos</h2>
					<p>Haz click en la siguiente imagen para acceder al buscador de juegos</p>
					<a href="/juegos" class="image"><img src="{{url_for('static', filename='images/juego.jpg')}}" alt="" data-position="center center" /></a>
					<h2>Noticias</h2>
					<p>Haz click en la siguiente imagen para acceder al buscador de noticias</p>
					<a href="/noticias" class="image"><img src="{{url_for('static', filename='images/noticia.jpg')}}" alt="" data-position="center center" /></a>
				</div>
			</section>			
	</div>
{% endblock %}